head
  title search
body
  .ui.page.grid
    
    +searchBox
    


template(name="searchBox")
  .centered.row
    .ui.massive.icon.input.searchBox
      +esInput(index="dict" placeholder='請鍵入關鍵字' id='search' timeout='1000')

  .centered.row
    .four.wide.column
        +filters
    .ten.wide.column
      +ifEsIsSearching(index="dict" id="search")
        .ui.large.text.active.loader 讀取中

        //      +ifEsInputIsEmpty(index="dict" id="search")
        //         p loading
        //      else
        //         p search results as follows

      .ui.four.doubling.cards
        +esEach(index="dict" id='search')
          +dict

      +ifEsHasNoResults(index="dict" id="search")
        h1.ui.centered.header 無結果

      //+esLoadMoreButton(index="dict" id="search")

      //      +esPagination(index="dict" id="search")
    
      
template(name='dict')
  .card
    .ui.corner.label(data-content='前往官方網站瀏覽「{{ch}}」')
      a(href='http://terms.naer.edu.tw/detail/{{sid}}/' target='_blank')
          i.external.link.icon
    .content
      .header {{ch}}
      .description.en
      
      if ensplit2
        with ensplit2
          +enWithQuery
      else
        |{{en}}
      if cn
        .description 陸譯:{{cn}}
    .extra.content
      .meta {{category}}
      //.meta {{updated}}

template(name='enWithQuery')
  p {{pre}}#[strong.query_str {{q}}]{{suf}}

template(name='filters')
  each filtered
    .ui.label.red.filter.filtered(data=this._id) {{this._id}}
      //.detail {{this.count}}
  each unfiltered
    .ui.label.filter.unfiltered(data=this._id) {{this._id}}
      //.detail {{this.count}}
//template(name='explain')
//  .centered.row
//    .ten.wide.column
//      h1 J蝦毀
//      p 本網站資料來源為
//        a(href='http://terms.naer.edu.tw/about/') 國家教育研究院雙語詞彙、學術名詞暨辭書資訊網
//
